# Définition des tuples
Les tuples (appelés *p-uplets* dans le programme officiel de NSI) sont une collection d'objets **ordonnée** mais **NON MODIFIABLE**.  
Pour rappel :
- **chaine de caractères** : ordonnée et non modifiable
- **liste** : ordonnée et modifiable
- **tuple** : ordonnée et non modifiable 


Quel peut être l'intérêt d'un tuple par rapport à une liste ?
- Justement son caractère protégé : jamais une portion de code ne pourra venir modifier les informations contenues dans le tuple. 
- L'utilisation des tuples est économe en ressources-système par rapport à une liste (en particulier, parce que sa taille est fixe).

In [ ]:
monPremierTuple = (3, 5, 6)

Un tuple se différencie d'une liste par l'utilisation des parenthèses au lieu des crochets.

In [ ]:
type(monPremierTuple)

À noter qu'un tuple peut être déclaré sans parenthèses. C'est toutefois à éviter.

In [ ]:
taille = 600, 800

In [ ]:
type(taille)

## Accès aux éléments d'un tuple
Comme pour une liste ou une chaîne de caractère, l'accès se fait par un indice entre **crochets**
.

In [ ]:
a = (12, 25, 6)
a[0]

## Tentative de modification d'un tuple

In [ ]:
a[0] = 4

## Parcours d'un tuple
On retrouve bien évidemment les deux méthodes utilisables pour les listes :

In [ ]:
for k in a :
    print(k)

In [ ]:
for k in range(len(a)):
    print(a[k])

## Construction d'une fonction renvoyant un tuple

In [ ]:
# fonction renvoyant le tuple (quotient, reste) de la division euclidienne de a par b.
def division(a, b):
    q = a // b
    r = a % b
    return (q, r)

In [ ]:
division(48,12)

### Exercice :
On considère deux points A et B d'un repère quelconque. Leurs coordonnées sont des tuples à deux éléments.
Écrire une fonction qui prend en argument les coordonnées de deux points et qui renvoie le milieu de ces deux points.

In [ ]:
A = (3, 12)
B = (-4, 5)

def milieu(point1, point2):
    '''votre code'''

La fonction doit fonctionner de cette manière :

In [ ]:
milieu(A,B)

In [ ]:
C = (45, 123)
D = (49, 32)
milieu(C,D)

### À vous de jouer: exercices utilisant les tuples

---
#### Exercice 1: Création de tuples

On stocke les dates de naissances de quelques personnes en utilisant 4 tableaux (un pour les prénoms, un pour les jours de naissance, un pour les mois de naissance, un pour l'année de naissance) afin de respecter la contrainte d'homogénéité des données dans un tableau:

In [2]:
noms = ["Arthur", "Mégane", "Zoé", "Tristan"]
jours = [1, 9, 28, 10]
mois = [1, 12, 11, 3]
années = [1942, 1906, 1973, 1938]

L'objectif de l'exercice est d'écrire une fonction ```crée_tuples_élèves(noms, jours, mois, années)``` prenant pour paramètres des listes de prénoms et de jours/mois/années de naissance, et renvoyant une unique liste contenant des tuples pour chaque élève. Avec les données ci-dessus, le premier élément du tableau renvoyé devra par exemple être ```("Arthur", 1, 1, 1942)```.

In [3]:
def crée_tuples_élèves(noms, jours, mois, années):
    """Écrire la documentation de la fonction ici"""
    
    # Écrire votre code ici

Pensez à tester votre fonction, par exemple en affichant sa valeur de retour.

---
#### Exercice 2: Réduction de tuples

On a vu qu'il n'est possible de modifier un tuple déjà créé: ni en changeant la valeur d'une des composantes, ni en ajoutant en supprimant une composante. 

Et pourtant, voici ce que l'on demande de faire pour cet exercice:

On considère un tableau de tuples de la forme (prénom, nom, jour, mois, année) décrivant un élève et sa date de naissance:

In [4]:
élèves = [
    ("Sophie", "Jacquemin", 3, 6, 2003),
    ("Zoé", "Ledoux", 1, 2, 2004),
    ("Adrien", "Millet", 8, 6, 2003),
    ("Gilles", "Hebert", 11, 12, 2003),
    ("Andrée", "Millet", 14, 1, 2005),
    ("Françoise", "Auger", 30, 5, 2003),
    ("Margot", "Dias-Laurent", 30, 6, 2003),
    ("Thimothée", "Lebreton", 2, 10, 2004),
    ("Audrey", "Monnier", 30, 12, 2006),
    ("Élisabeth", "Lebrun", 27, 4, 2003)
]

Écrire une fonction ```réduit_tuples(tableau_élèves)``` prenant pour paramètre un tableau de tuples de la forme précédente, et renvoyant un autre tableau contenant des tuples de la forme (NOM, PRÉNOM) construit à partir des données du premier, dans le même ordre.

In [5]:
def réduit_tuples(tableau_élèves):
    """Écrire la documentation de la fonction ici"""
    
     # Écrire votre code ici

Et maintenant, on teste notre fonction:

In [ ]:
résultats = réduit_tuples(élèves)
assert résultats[0] == ("JACQUEMIN", "SOPHIE")
assert résultats[7] == ("LEBRETON", "THIMOTHÉE")
résultats

---
#### Exercice 3: Décomposition de tuples

Réaliser la tâche inverse de celle proposée à l'exercice précédent: on dispose d'une liste d'élèves, où chaque élève est représenté par un tuple contenant le nom, le prénom et la date de naissance (sur 3 composantes).

Écrire une fonction ```décompose_élèves(tableau_élèves)``` renvoyant les 5 tableaux correspondant aux 3 composantes de chaque tuple. On suppose que ```tableau_élèves``` contient uniquement des tuples au bon format (et peut être éventuellement vide).

In [6]:
def décompose_élèves(tableau_élèves):
    """Écrire la documentation de la fonction ici"""
    
    # Écrire votre code ici

On pourra tester le code sur le tableau suivant:

In [7]:
élèves = [
    ("Sophie", "Jacquemin", 3, 6, 2003),
    ("Zoé", "Ledoux", 1, 2, 2004),
    ("Adrien", "Millet", 8, 6, 2003),
    ("Gilles", "Hebert", 11, 12, 2003),
    ("Andrée", "Millet", 14, 1, 2005),
    ("Françoise", "Auger", 30, 5, 2003),
    ("Margot", "Dias-Laurent", 30, 6, 2003),
    ("Thimothée", "Lebreton", 2, 10, 2004),
    ("Audrey", "Monnier", 30, 12, 2006),
    ("Élisabeth", "Lebrun", 27, 4, 2003)
]

In [ ]:
for tableau in décompose_élèves(élèves):
    print(repr(tableau))